@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

/** {
	margin: 0;
	padding: 0;
}*/

html, body {
	width:100%;
	height:100%;
	padding: 0;
	margin: 0;
} /* just to be sure these are full screen */

body {
	font-family: 'Oswald', arial, sans-serif;
}

canvas {
	display: block;
	z-index: 0;
}

header {
	background: #4d4d4d;
	position: absolute;
	/*top: -100px;*/
	/*height: 100%;*/
	width: 100%;
	border-bottom: 1px solid black;
	margin: 0;
	padding: 0;
	z-index: 100;
	/*height: 200px;*/
}

#track-info-container {
	background: #000000;
	color: #ffffff;
	float: left;
	width: 100%;
	/*height: 100%;*/
}

#stats {
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

#track-image {
	margin-top: 10px;
	margin-left: 20px;
	float: left;
	
}

#track-info {
	float: left;
}

#track-info a {
	display :block;
}

#track-url:link,
#track-url:visited,
#track-url:active,

#user-info:link,
#user-info:visited,
#user-info:active {
	/*float: left;*/
	color: #ababab;
	margin-left: 20px;
	text-decoration: none;
}

#track-url:hover,
#user-info:hover {
	text-decoration: underline;
}
#track-url {
	
}
#track-url h1 {
	font-size: 20px;
	margin-bottom: 0;
	margin-top: 8px;
}

#user-info {
	
	/*float: left;*/
}

#user-info h2 {
	font-size: 10px;
	margin-top: 5px;
}

#track-form-container {
	background: #4d4d4d;
	clear: left;
}

#track-form-container input[type=text] {
	width: 400px;
}


#pulldown-button {
	position: absolute;
	width: 100px;
	bottom: -40px;
	left: 80%;
	background: #4d4d4d;
}
