@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

/** {
    margin: 0;
    padding: 0;
}*/

html, body {
    width:100%;
    height:100%;
    padding: 0;
    margin: 0;
} /* just to be sure these are full screen */

body {
    font-family: 'Oswald', arial, sans-serif;
}

canvas {
    display: block;
    z-index: 0;
}

header {
    background: #4d4d4d;
    position: absolute;
    /*top: -100px;*/
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden; 
    -webkit-transform: translateY(-100px);
    -moz-transform: translateZ(0);
    -moz-perspective: 1000;
    -moz-backface-visibility: hidden; 
    -moz-transform: translateY(-100px);
    transform: translateZ(0);
    perspective: 1000;
    backface-visibility: hidden; 
    transform: translateY(-100px);
    height: 105px;
    width: 100%;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 0;
    z-index: 100;
    /*height: 200px;*/
}

#app-info {
    width: 20px;
    height: 20px;

    position: relative;
    float: left;
    left: 2px;
    top: 3px;
}

#track-info-container {
    background: #000000;
    color: #ffffff;
    float: left;
    width: 100%;
    /*height: 100%;*/
}

a#track-image {
    margin-top: 10px;
    width: 6%;
    float: left;
    
}

#track-info {
    float: left;
    width: 80%;
    position: relative;
    left: 50%;
    margin-left: -420px;
}

#track-info a {
    display :block;
}

a#track-url {
    float: left;
    width: 90%;
    overflow: hidden;   
}

a#user-info {
    float: left;
    width: 90%;
    overflow: hidden;
}

#track-url:link,
#track-url:visited,
#track-url:active,

#user-info:link,
#user-info:visited,
#user-info:active {
    color: #ababab;
    text-decoration: none;
}

#track-url:hover,
#user-info:hover {
    text-decoration: underline;
}

#track-url h1 {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 8px;
}

#user-info {
    
    /*float: left;*/
}

#user-info h2 {
    font-size: 10px;
    margin-top: 5px;
}

#track-form-container {
    background: #4d4d4d;
    clear: left;
}


/**
 *
 *
 * track form
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 * 
 */

#track-form-container form {
    position: relative;
    width: 620px;
    left: 50%;
    margin-left: -400px;
    float: left;
}

#track-form-container input[type=text] {
    border: 1px solid #cccccc;
    padding: 6px 4px;
    outline: none;
    -webkit-border-radius: 2px;
    width: 600px;
    color: #555555;

    margin-top: 6px;
    /*position: relative;
    left: 50%;
    margin-left: -400px;*/
}




/**
 *
 * stats
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 * 
 */

#stats {
    /*margin-top: 20px;
    position: absolute;
    right: 0;
    float: left;*/
}

/**
 *
 *
 * UI pulldown
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 * 
 */

.pulldown-triangle {
    position: absolute;
    bottom: -30px;
    left: 80%;
    /*background: #4d4d4d;*/
    cursor: pointer;

    width: 0; 
    height: 0;
    border-top: 30px solid #4d4d4d;
    border-left: 30px solid transparent; 
    border-right: 30px solid transparent; 
}

.pulldown-rectangle {
    position: absolute;
    bottom: -30px;
    left: 80%;
    /*background: #4d4d4d;*/
    cursor: pointer;
    background: #4d4d4d;
    width: 60px; 
    height: 30px;
    /*border-top: 40px solid #4d4d4d;
    border-left: 40px solid transparent; 
    border-right: 40px solid transparent;*/
}

.ui-closed {
    position: absolute;
    left: -9px;
    top: -30px;
    
    width:15px;
    height:15px;
    border:2px solid #e00000 ;/*#e00000;*/
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
}

.ui-open {
    position: relative;
    left: 20px;
    top: 0px;

    width:18px;
    height:18px;
    background: #e00000;
}

#dropdown-cross {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 18px;
    height: 18px;

    display: none;
}

#dropdown-cross #top-triangle {
    position:relative;
    top: 1px;
    left: 2px;

    width: 0;
    height: 0;
    border-top: 7px solid #4d4d4d;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

#dropdown-cross #right-triangle {
    position:relative;
    top: -5px;
    left: 10px;

    width: 0;
    height: 0;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-right: 7px solid #4d4d4d;
    /*border-right: 7px solid transparent;*/
}


#dropdown-cross #bottom-triangle {
    position:relative;
    top: -11px;
    left: 2px;

    width: 0;
    height: 0;
    border-bottom: 7px solid #4d4d4d;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

#dropdown-cross #left-triangle {
    position:relative;
    top: -26px;
    left: 1px;

    width: 0;
    height: 0;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-left: 7px solid #4d4d4d;
    /*border-right: 7px solid transparent;*/
}


/**
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 * loading responses to events
 *
 * 
 */



#success-image {
    width: 20px;
    height: 20px;
    float: left;
    position: relative;
    left: 50%;

    -moz-border-radius: 20px; 
   -webkit-border-radius: 20px; 
   border-radius: 20px;

    top: 10px;
}

.success-waiting {
    background: rgba(0, 255, 0, 0.1);
}

.success-ready {
  -moz-transition: background 1s;
  -webkit-transition: background 1s;
  -ms-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
  background: rgba(0, 255, 0, 0.8);
}



#play-stop-button-wrapper {
    height: 30px;
    width: 50px;
    position: relative;
    left: 50%;
    float: left;
    top: 5px;
    margin-left: 10px;
    border-radius: 5px;
    
}

.play-stop-button-wrapper-waiting {
    background: rgba(0, 120, 255, 0.5); /* #4d4d4d; /*rgb 77 77 77  */
}

.play-stop-button-wrapper-ready {
    -moz-transition: background 1s;
  -webkit-transition: background 1s;
  -ms-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
    background: rgba(0, 120, 255, 1.0); /* #4d4d4d; /*rgb 77 77 77  */
    cursor: pointer;
}


/*#play-stop-button:hover {
    border-color:transparent transparent transparent rgba(255, 255, 255, 0.8);
    -webkit-transform: scale(2);
}*/




.play-button-hover {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
   transform: scale(1.1);
}

.play-button-click {
    -webkit-transform: scale(0.9);
   -moz-transform: scale(0.9);
   -ms-transform: scale(0.9);
   -o-transform: scale(0.9);
   transform: scale(0.9);    
}

#play-stop-button {

    
    float: left;
    position: relative;
    left: 50%;

    /*position: absolute;*/

    
    text-indent:-9999px;
    
}


.play-stop-button-triangle {
    background: transparent;
    border-style:solid;
    border-width:8px 0 8px 18px;
    height:0;
    width:0;

    top: 7px;
    margin-left: -7px;
}

.play-stop-button-square {
    background: rgba(255, 255, 255, 1.0);
    border-width:20px;
    width: 20px;
    height: 20px;

    top: 5px;
    margin-left: -9px;
}



.play-stop-button-waiting {
    border-color:transparent transparent transparent rgba(255, 255, 255, 0.4);
}

.play-stop-button-ready {
    border-color:transparent transparent transparent rgba(255, 255, 255, 1.0);
    cursor: pointer;
}

